
.poliButton {
    overflow-y: initial;
}

.stuffyButtons {
    background-color: lightgray;
    height: 200px;
    overflow-y: visible;
    overflow-x: hidden;
    /* justify-content: space-between; */
    justify-content: space-around;
}

.hide {
    display: none;
}

.notHide {
    display: block;
}

.huh {
    background-color: red;
}